.servicedetail {
    border: 1px solid #f29f33; /* Viền màu #f29f33 */


}

.servicedetail p {
    margin-left: 50px; /* Khoảng cách giữa nội dung và viền */
    text-align: center;

}

.servicedetail a {
    border: none; /* Loại bỏ viền */
    background-color: transparent; /* Loại bỏ màu nền */
    color: #F29F33;
    cursor: pointer; /* Thay đổi con trỏ khi rê chuột qua button */
}

.servicedetail a:focus {
    outline: none; /* Loại bỏ đường viền khi button được focus */
}
.servicedetail {

    display: flex; /* Sử dụng flexbox để sắp xếp nội dung */
    flex-direction: row; /* Sắp xếp nội dung theo hàng ngang */
    justify-content: center;
    align-items: center; /* Căn giữa theo chiều dọc */
    border: 1px solid #f29f33; /* Viền màu #f29f33 */
    padding: 10px;
}

.servicedetail p {
    margin-left: 50px; /* Khoảng cách giữa các phần tử */
    color: #F29F33;
}

.servicedetail a {
    border: none; /* Loại bỏ viền */
    background-color: transparent; /* Loại bỏ màu nền */
    color: #F29F33;
    cursor: pointer; /* Thay đổi con trỏ khi rê chuột qua button */
    margin-left:50px;
}

.servicedetail a:focus {
    outline: none; /* Loại bỏ đường viền khi button được focus */
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ẩn phần dư thừa và lấp đầy toàn bộ kích thước của thẻ */
}

.carousel-item img {
    max-width: 100%; /* Giới hạn kích thước tối đa của ảnh */
    height: auto; /* Tự động điều chỉnh chiều cao tương ứng */
    object-fit: cover; /* Giữ tỷ lệ khung hình không bị biến đổi */
    transition: filter 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển đổi mờ và transform */
}
.card-group:hover {
    filter: brightness(0.8); /* Giảm độ sáng của ảnh khi hover */
}

.one{
margin-left:100px;
}
 .two{
     margin-left:100px;
 }
.three{
    margin-left:100px;
}
