
.des{
    background-color: #FEF7EF;
    padding-top: 50px;
    padding-bottom: 20px;
}


.des div {
    padding: 30px 50px;
    background-color: white;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cccccc;
    color: #f29f33;
}
.des div h2{
    margin-bottom: 30px;
}
.des div p{
    text-align: start;
}
p{
    color: black;
}
strong{
    color: #f29f33;
}
.img{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.img img{
    width: 600px;
    border-radius: 20px;
}
.img a{
    text-decoration: none;
    margin-top: 20px;
    color: white;
    background-color: #f29f33;
    padding: 12px 50px 12px 50px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.img a:hover{
    background-color: #654145;
}
.rules {
    text-align: left;
    margin-left: 400px;
    border-radius:10px;
}
h1 {
    color: #f29f33;
    text-align: center;
}
.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.rating section{
    text-align: center;
}
.rating textarea{
    width: 800px;
    margin-left: 15%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #f29f33;
}
.rating button{
    margin-top: 20px;
    margin-left: 480px;
    margin-right: 480px;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #f29f33;
    padding-bottom: 10px;
    padding-top: 10px;
}
.star {
    color: #ffd700;
    font-size: 24px;
    cursor: pointer;
}

.star:hover {
    color: #e5d492; /* Màu vàng nhạt khi hover */
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: #ff9a1f; /* Màu vàng khi được chọn */
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}

