.addinfor{
    width: 100%;
    background-color: #FEF7EF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.addinfor h3{
    color: #f29f33;
    font-weight: initial;
}
form{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
form input{
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #cccccc;
    padding: 8px;
    padding-left: 20px;
    padding-right: 100px;
}
form button{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #f29f33;
    color: white;
    padding :8px 35px 8px 35px;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 2px #cccccc;
}
form a{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #f29f33;
    color: white;
    padding :8px 35px 8px 35px;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 2px #cccccc;

}
form a:hover{
    background-color: #654145;
    text-decoration: none;
   color: white;
}
form button:hover{
    background-color: #654145;
}

.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}