.text{
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}

form{
    background-color: #FEF7EF;
    padding-top: 50px;

}