.text{
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}
.form-cp{
    width: 100%;
    background-color: #FEF7EF;
    text-align: center;
    padding-bottom: 30px;
}
form{
    background-color: #FEF7EF;
    padding-top: 50px;
    width: 30%;
    margin-left: 35%;
}
.form-cp form input{
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px 100px 10px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cccccc;
}
.form-cp form button{
    outline: none;
    border: none;
    color: white;
    background-color: #f29f33;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #cccccc;
    transition: 0.3s ease-in-out;
}
.form-cp form button:hover{
    background-color: #654145;
}
form div a{
    text-decoration: none !important;
    background-color: #f29f33;
    color: white;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cccccc;
    transition: 0.3s ease-in-out;
}
form div a:hover{
    color: white;
    background-color: #654145;
}
form div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 135px;
    margin-right: 135px;
}
