body{
    background-color: #FEF7EF;
}
.product-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 50px;
    justify-items: center;
    margin-left: 2%;
    background-color: #FEF7EF;
    padding-bottom: 100px;
}
.product-boxes div{
    outline: 0 !important;
    width: 300px;
    text-align: start;
    border: none;
    background-color: #FEF7EF;
    padding-right: 20px;
    margin-right: 20px;
}
.product-boxes div img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.name{
    text-decoration: none !important;
    color: grey;
    transition: all 0.3s ease;
}
.name:hover{
    color: #F29F33;
}
.cost{
    color: #F29F33;
    margin-top: 10px;
}
.cost del{
    color: grey;
    padding-left: 10px;
}
.buy-button{
    outline: none !important;
    border: none;
    color: white;
    text-decoration: none !important;
    background-color: #f29f33;
    padding: 5px 20px 5px 20px;
    margin-left: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.buy-button:hover{
    background-color: #654145 ;
    color: white;
}
.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}


@media screen and (max-width: 768px) {
    body{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .text div a{
        font-size: 14px;
    }
    .text div p{
        font-size: 14px;
    }
    .text h2{
        font-size: 26px;
    }
    form a{
        font-size: 12px;
    }
    form img{
        width: 50%;
    }
    .product-boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
    }
}