.contact{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.contact div i{
    padding-left: 10px;
}
.contact1{
    border-left: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: darkgrey;
    color: white;
}
.contact2{
    border-radius: 0 10px 10px 0;
    border-top: 1px solid darkgrey;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    background-color: darkgrey;
}


.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}