body{
    background-color: #FEF7EF;
}
.contact3{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact1 i{
    padding-left: 10px;
    color: #f29f33;
}
.contact1{
    background-color: white;
    border-radius: 20px 0 0 20px;
    box-shadow: 2px 2px 5px #cccccc;
}
.contact1 h2, .contact1 h5, .contact1 p{
    color: #f29f33;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
iframe{
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 2px 5px #cccccc;
}

.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}
.contact1 i{
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .text div a{
        font-size: 14px;
    }
    .text div p{
        font-size: 14px;
    }
    .text h2{
        font-size: 26px;
    }
    .contact2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact1 h2{
        font-size: 20px;
    }
    .contact1 h5{
        font-size: 18px;
    }
    .contact1 p{
        font-size: 14px;
    }
    .contact1 i{
        font-size: 32px;
    }
}








