.news{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.news h2{
    font-weight: bold;
    color: #F29F33;
}
.news hr{
    width: 100px;
    height: 1px;
    background-color: #F29F33;
}
.all-new{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
}
.all-new1{
    display: flex;
    margin-left: 13%;
    margin-right: 16%;
}
.new{
    width: 35%;
    padding: 20px;
}
.new img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.new h5{
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.new h5:hover{
    color: #F29F33;
}
.new p{
    color: grey;
    font-weight: lighter;
}
.new h6 {
    color: grey;
}
.new a strong{
    color: #F29F33;
}
.new a{
    color: black;
    cursor: pointer;
    text-decoration: none !important;
    font-weight: bold;
    transition: all 0.3s ease;
}
.new a:hover{
    color: #F29F33;
}
.text{
    margin-top: 30px;
    text-align: center;
}
.text div{
    justify-content: center;
    display: flex;
}
.text div a{
    text-decoration: none;
    color: #654145;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.text div a:hover{
    color: #f29f33;
}
.text div p{
    margin-left: 5px;
    color: #f29f33;
    font-weight: bold;
    font-size: 18px;
}
.text h2{
    color: #f29f33;
    font-weight: bold;
}
.text hr{
    width: 100px;
    background-color: #f29f33;
}